[submodule "dolmen"]
	path = dolmen
	url = git@git.vauxoo.com:vauxoo/dolmen.git
	branch = 14.0
[submodule "addons-vauxoo"]
	path = addons-vauxoo
	url = git@github.com:Vauxoo/addons-vauxoo.git
	branch = 14.0
